RewriteEngine On		# Turn on the rewriting engine

RewriteRule ^api/search/([0-9]*)$ api.php?action=search&jerseyNumber=$1 [NC,L]
RewriteRule ^api_ajax/search/([0-9]*)$ api_ajax.php?action=search&jerseyNumber=$1 [NC,L]